<form action="api/signup" method="post">
  <input type="text" name="name" placeholder="name" >
  <input type="text" name="username" placeholder="username" >
  <input type='password' name='password' placeholder='password'>
	<button type='submit'>Submit</button>
</form>
