<form action="api/oauth-client-signup" method="post">
  	<input type="text" name="client_id" placeholder="client_id" >
  	<input type="text" name="client_secret" placeholder="client_secret" >
  	<input type="text" name="redirect_uri" placeholder="redirect_uri" >
  	<input type="text" name="grant_types" placeholder="grant_types" >
  	<input type="text" name="scope" placeholder="scope" >
	<button type='submit'>Submit</button>
</form>